/* .core ul li{
    line-height: 54px;
    margin-top: 1px;
}
.core ul li label{
    display: inline-block;
    width: 110px;
    text-align: right;
    margin-right: 22px;
    font-size: 16px;
    color: #333333;
    font-family: '微软雅黑';
}
.core ul li .input1{
    width: 518px;
    height: 38px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding-left: 5px;
    font-size: 12px;
} */
input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #999999;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #999999;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #999999;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #999999;
}
.core ul li .input2{
    width: 160px;
    height: 38px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
/* .core ul li .layui-input-block{
    width: 518px;
    height: 38px;
    margin-left: 5px;
}
.core ul li .layui-input-block select{
    width: 518px;
    height: 38px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding-left: 5px;
    font-size: 12px;
}
.core ul li .layui-input-block option{
    font-size: 12px;
    font-family: '微软雅黑';
    line-height: 38px;
} */
.layui-form{
    width: 100%;
    /* display: none; */
    /* overflow: hidden; */
    /* height: 100px; */
}
.layui-form-item{
    /* line-height: 54px; */
    /* margin-top: 1px; */
    /* margin-bottom: 0; */
}
.layui-form-item label{
    /* display: inline-block;
    width: 110px;
    text-align: right; */
    /* margin-right: 22px; */
    font-size: 16px;
    color: #333333;
    font-family: '微软雅黑';
}
.layui-form-item .input1{
    width: 518px;
    height: 38px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding-left: 5px;
    font-size: 12px;
}